#consolaar {
   font-family: monospace;
}

* 
{
   font-family: Ubuntu, Tahoma, sans-serif;
   margin-left: 0px;
   margin-right: 0px;
}

p, h1, h2, h3, h4, code
{
   margin-left: 15px;
   margin-right: 15px;
}

header {
    background: linear-gradient(to right, rgb(242, 110, 41), rgb(188, 56, 6));
    
    color:white;
    font-size: 20px;
    height: 36px;
    font-weight: normal;
    padding:16px; 
    margin-left: 0px;
    margin-right: 0px;
}

p
{
   color: rgb(51, 51, 51);
   display: block;
   font-size: 15px;
   line-height: 22.5px;
   margin-bottom: 10px;
   margin-top: 0px;
}

h1
{
   color: rgb(51, 51, 51);
   display: block;
   font-size: 36px;
   font-weight: bold;
   line-height: 40px;
   margin-bottom: 15px;
   margin-top: 15px;
   text-rendering: optimizeLegibility;
}

h2
{
   color: rgb(51, 51, 51);
   display: block;
   font-size: 30px;
   font-weight: bold;
   line-height: 40px;
   margin-bottom: 15px;
   margin-top: 15px;
   text-rendering: optimizeLegibility;
}

h3
{
   color: rgb(51, 51, 51);
   display: block;
   font-family: Ubuntu, Tahoma, sans-serif;
   font-size: 18px;
   font-weight: bold;
   line-height: 20px;
   margin-bottom: 15px;
   margin-top: 15px;
   text-rendering: optimizeLegibility;
}

h4
{
   color: rgb(51, 51, 51);
   display: block;
   font-family: Ubuntu, Tahoma, sans-serif;
   font-size: 16px;
   font-weight: bold;
   line-height: 20px;
   margin-bottom: 15px;
   margin-top: 15px;
   text-rendering: optimizeLegibility;
}

code {
   background-color: rgb(241, 241, 241);
   border-color: rgb(221, 221, 221);
   border-radius: 8px;
   border-style: solid;
   border-width: 1px;
   color: rgb(51, 51, 51);
   display: block;
   font-family: monospace;
   font-size: 14px;
   margin: 7px;
   padding: 10px;
   white-space: pre;
}

